body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
  text-align: center
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191530;
  padding: 16px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 800px;
  width: 100%;
}

nav li {
  display: inline;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.2s;
}

nav a:hover,
.active-link {
  background-color: #de1b76;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.cat-list , .favorite-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24px;
}

.cat-list img ,.breed-images img, .favorite-list img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.cat-list img:hover,.favorite-list img:hover {
  transform: scale(1.03);
}

.cat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 24px 0;
}

.load-more-cats, .action-button {
  background-color: #de1b76;
  color: #fff;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 16px 0;
  transition: background-color 0.2s;
}

.load-more-cats:hover, .action-button:hover {
  background-color: #191530;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  color: #191530;
  margin: 16px 0;
  text-align: center
}

.breed-images {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  gap:25px;
}

.breed-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-bottom: 24px;
  list-style: none;
}

.breed-list li {
  background-color: #de1b76;
  color: #fff;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 16px 0;
  transition: background-color 0.2s;
}

.breed-list li:hover {
  background-color: #191530;
}

.favorite-cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.favorite-cat img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 8px;
}

.favorite-cat button {
  background-color: #de1b76;
  color: #fff;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 8px;
  transition: background-color 0.2s;
}

.favorite-cat button:hover {
  background-color: #191530;
}



